In [231]:
# Normally used imports
import pandas as pd
import numpy as np

# Import the stats library from numpy
from scipy import stats

# These are the plotting modules adn libraries we'll use:
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# Command so that plots appear in the iPython Notebook
%matplotlib inline

In [72]:
!ls COVID-19/csse_covid_19_data/csse_covid_19_time_series

README.md
time_series_19-covid-Confirmed.csv
time_series_19-covid-Deaths.csv
time_series_19-covid-Recovered.csv
time_series_covid19_confirmed_global.csv
time_series_covid19_deaths_global.csv

In [136]:
!ls COVID-19/csse_covid_19_data/csse_covid_19_daily_reports

01-22-2020.csv 02-05-2020.csv 02-19-2020.csv 03-04-2020.csv 03-18-2020.csv
01-23-2020.csv 02-06-2020.csv 02-20-2020.csv 03-05-2020.csv 03-19-2020.csv
01-24-2020.csv 02-07-2020.csv 02-21-2020.csv 03-06-2020.csv 03-20-2020.csv
01-25-2020.csv 02-08-2020.csv 02-22-2020.csv 03-07-2020.csv 03-21-2020.csv
01-26-2020.csv 02-09-2020.csv 02-23-2020.csv 03-08-2020.csv 03-22-2020.csv
01-27-2020.csv 02-10-2020.csv 02-24-2020.csv 03-09-2020.csv 03-23-2020.csv
01-28-2020.csv 02-11-2020.csv 02-25-2020.csv 03-10-2020.csv 03-24-2020.csv
01-29-2020.csv 02-12-2020.csv 02-26-2020.csv 03-11-2020.csv 03-25-2020.csv
01-30-2020.csv 02-13-2020.csv 02-27-2020.csv 03-12-2020.csv 03-26-2020.csv
01-31-2020.csv 02-14-2020.csv 02-28-2020.csv 03-13-2020.csv README.md
02-01-2020.csv 02-15-2020.csv 02-29-2020.csv 03-14-2020.csv
02-02-2020.csv 02-16-2020.csv 03-01-2020.csv 03-15-2020.csv
02-03-2020.csv 02-17-2020.csv 03-02-2020.csv 03-16-2020.csv
02-04-2020.csv 02-18-2020.csv 03-03-2020.csv 03-17-2020.csv

In [73]:
confirmed = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')
deaths = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')
recovered = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')
confirmed_global = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
global_deaths = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [215]:
daily_report = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/03-26-2020.csv')

In [217]:
#get memory usage
confirmed_global_memory = confirmed_global.memory_usage().sum()/1024**2
confirmed_memory = confirmed.memory_usage().sum()/1024**2
deaths_memory = deaths.memory_usage().sum()/1024**2
recovered_memory = recovered.memory_usage().sum()/1024**2
global_deaths_memory = global_deaths.memory_usage().sum()/1024**2
daily_report_memory = daily_report.memory_usage().sum()/1024**2

notebook_initial_mem = (confirmed_global_memory + confirmed_memory + deaths_memory + recovered_memory + global_deaths_memory + daily_report_memory)

print("Confirmed Global has allocated %.2f MBs" %(confirmed_global_memory))
print("Confirmed cases has allocated %.2f MBs" %(confirmed_memory))
print("Death has allocated %.2f MBs" %(deaths_memory))
print("Recovered has allocated %.2f MBs" %(recovered_memory))
print("Global Deaths has allocated %.2f MBs" %(global_deaths_memory))
print("Daily Report has allocated %.2f MBs" %(daily_report_memory))
print("Current Notebook Total Memory Used: %.2f MBs" %(notebook_initial_mem))

Confirmed Global has allocated 0.12 MBs
Confirmed cases has allocated 0.25 MBs
Death has allocated 0.25 MBs
Recovered has allocated 0.25 MBs
Global Deaths has allocated 0.12 MBs
Daily Report has allocated 0.31 MBs
Current Notebook Total Memory Used: 1.31 MBs

In [75]:
#let's take a look at our data
confirmed_global.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,11,16,21,22,22,22,24,24,40,40
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,38,42,51,55,59,64,70,76,89,104
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,37,48,54,60,74,87,90,139,201,230
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,2,39,39,53,75,88,113,133
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,2,3

In [76]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0

In [77]:
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1.0
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,22,22,27,29,29,29,33,35,40,40.0
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,2,2,2,3,4,10,10.0

In [78]:
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,35,35,35,41,42,42,42,42,44,44.0
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,118,118,144,144,144,150,191,232,235,235.0
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,105,105,109,114,114,114,124,140,144,144.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,35,42,42,49,60,75,87,114,139,139.0

In [79]:
global_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2,2,4
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,3,4,4,4,7,9,11,15,17,17
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
#get index range to check start, stop, step

print(confirmed.index)
print(deaths.index)
print(recovered.index)
print(confirmed_global.index)
print(global_deaths.index)

RangeIndex(start=0, stop=501, step=1)
RangeIndex(start=0, stop=501, step=1)
RangeIndex(start=0, stop=501, step=1)
RangeIndex(start=0, stop=238, step=1)
RangeIndex(start=0, stop=238, step=1)

In [83]:
#list your columns to identify column names
#list(confirmed.columns)

In [84]:
deaths.iloc[98:155]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
98,Washington,US,47.4009,-121.4905,0,0,0,0,0,0,...,37,40,48,55,55,74,83,94,95,95.0
99,New York,US,42.1657,-74.9481,0,0,0,0,0,0,...,2,3,10,13,16,34,42,60,117,117.0
100,California,US,36.1162,-119.6816,0,0,0,0,0,0,...,5,6,7,12,13,18,23,24,30,30.0
101,Massachusetts,US,42.2302,-71.5301,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,5,5.0
102,Diamond Princess,US,35.4437,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
103,Grand Princess,US,37.6489,-122.6655,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
104,Georgia,US,33.0406,-83.6431,0,0,0,0,0,0,...,1,1,1,1,3,10,13,14,23,23.0
105,Colorado,US,39.0598,-105.3111,0,0,0,0,0,0,...,1,1,1,2,2,4,4,4,6,6.0
106,Florida,US,27.7663,-81.6868,0,0,0,0,0,0,...,3,4,5,6,7,9,10,13,13,13.0
107,New Jersey,US,40.2989,-74.5210,0,0,0,0,0,0,...,1,2,2,3,3,9,11,16,20,20.0
108,Oregon,US,44.5720,-122.0709,0,0,0,0,0,0,...,0,1,1,1,2,3,3,5,4,4.0
109,Texas,US,31.0545,-97.5635,0,0,0,0,0,0,...,0,0,0,1,3,5,5,5,6,6.0
110,Illinois,US,40.3495,-88.9861,0,0,0,0,0,0,...,0,0,0,1,1,4,5,6,9,9.0
111,Pennsylvania,US,40.5908,-77.2098,0,0,0,0,0,0,...,0,0,0,0,0,1,1,2,3,3.0
112,Iowa,US,42.0115,-93.2105,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
113,Maryland,US,39.0639,-76.8021,0,0,0,0,0,0,...,0,0,0,0,0,1,1,2,3,3.0
114,North Carolina,US,35.6301,-79.8064,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
115,South Carolina,US,33.8569,-80.9450,0,0,0,0,0,0,...,0,0,1,1,1,1,1,3,3,3.0
116,Tennessee,US,35.7478,-86.6923,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,2.0
117,Virginia,US,37.7693,-78.1700,0,0,0,0,0,0,...,1,1,1,2,2,2,2,2,6,6.0
118,Arizona,US,33.7298,-111.4312,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,2.0
119,Indiana,US,39.8494,-86.2583,0,0,0,0,0,0,...,0,0,1,2,2,2,2,4,6,6.0
120,Kentucky,US,37.6681,-84.6701,0,0,0,0,0,0,...,0,0,1,1,1,2,2,3,3,3.0
121,District of Columbia,US,38.8974,-77.0268,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2,2.0
122,Nevada,US,38.3135,-117.0554,0,0,0,0,0,0,...,0,0,1,1,1,1,1,2,2,2.0
123,New Hampshire,US,43.4525,-71.5639,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
124,Minnesota,US,45.6945,-93.9002,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1.0
125,Nebraska,US,41.1254,-98.2681,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
126,Ohio,US,40.3888,-82.7649,0,0,0,0,0,0,...,0,0,0,0,0,0,2,3,3,3.0
127,Rhode Island,US,41.6809,-71.5118,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
128,Wisconsin,US,44.2685,-89.6165,0,0,0,0,0,0,...,0,0,0,0,0,0,3,4,4,4.0
129,Connecticut,US,41.5978,-72.7554,0,0,0,0,0,0,...,0,0,0,0,0,2,3,4,5,5.0
130,Hawaii,US,21.0943,-157.4983,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
131,Oklahoma,US,35.5653,-96.9289,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,2,2.0
132,Utah,US,40.1500,-111.8624,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
133,NaN,Burkina Faso,12.2383,-1.5616,0,0,0,0,0,0,...,0,0,0,0,1,1,1,2,4,4.0
134,NaN,Holy See,41.9029,12.4534,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
135,NaN,Mongolia,46.8625,103.8467,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
136,NaN,Panama,8.5380,-80.7821,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,3,3.0
137,Kansas,US,38.5266,-96.7265,0,0,0,0,0,0,...,1,1,1,1,1,1,1,2,2,2.0
138,Louisiana,US,31.1695,-91.8678,0,0,0,0,0,0,...,1,2,3,4,4,10,14,16,20,20.0
139,Missouri,US,38.4561,-92.2884,0,0,0,0,0,0,...,0,0,0,0,0,1,2,3,3,3.0
140,Vermont,US,44.0459,-72.7107,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2.0
141,Alaska,US,61.3707,-152.4044,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
142,Arkansas,US,34.9697,-92.3731,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
143,Delaware,US,39.3185,-75.5071,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
144,Idaho,US,44.2405,-114.4788,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
145,Maine,US,44.6939,-69.3819,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
146,Michigan,US,43.3266,-84.5361,0,0,0,0,0,0,...,0,0,0,0,0,3,3,5,9,9.0
147,Mississippi,US,32.7416,-89.6787,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1.0
148,Montana,US,46.9219,-110.4544,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
149,New Mexico,US,34.8405,-106.2485,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
150,North Dakota,US,47.5289,-99.7840,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
151,South Dakota,US,44.2998,-99.4388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1.0
152,West Virginia,US,38.4912,-80.9545,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
153,Wyoming,US,42.7560,-107.3025,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
154,Hubei,China,30.9756,112.2707,17,17,24,40,52,76,...,3075,3085,3099,3111,3122,3130,3133,3139,3144,3153.0

In [90]:
deaths.iloc[117:118].sum(axis = 1, skipna = True)

117   -15.4007
dtype: float64

In [99]:
#list(deaths.columns)
deaths.iloc[117]

Province/State    Virginia
Country/Region          US
Lat                37.7693
Long                -78.17
1/22/20                  0
                    ...
3/19/20                  2
3/20/20                  2
3/21/20                  2
3/22/20                  6
3/23/20                  6
Name: 117, Length: 66, dtype: object

In [98]:
Virginia_deaths = deaths.iloc[117]

In [130]:
#Virginia_deaths['Province/State', '1/22/20 : ']

In [100]:
dropped_latlong_deaths = deaths.drop(['Lat', 'Long'], axis=1)

In [131]:
dropped_latlong_deaths

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1.0
1,NaN,Japan,0,0,0,0,0,0,0,0,...,22,22,27,29,29,29,33,35,40,40.0
2,NaN,Singapore,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2.0
3,NaN,Nepal,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,NaN,Malaysia,0,0,0,0,0,0,0,0,...,0,0,0,2,2,2,3,4,10,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,NaN,Jersey,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
497,NaN,Puerto Rico,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
498,NaN,Republic of the Congo,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
499,NaN,The Bahamas,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
500,NaN,The Gambia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [104]:
Virginia_deaths = dropped_latlong_deaths.iloc[117]

In [116]:
dropped_latlong_deaths.sum(axis=1)

0       23.0
1      452.0
2        6.0
3        0.0
4       33.0
       ...
496      0.0
497      1.0
498      0.0
499      0.0
500      0.0
Length: 501, dtype: float64

In [143]:
dropped_latlong_deaths.columns

Index(['Province/State', 'Country/Region', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20',
       '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20',
       '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20'],
      dtype='object')

In [134]:
dropped_latlong_deaths.iloc[117]

Province/State    Virginia
Country/Region          US
1/22/20                  0
1/23/20                  0
1/24/20                  0
                    ...
3/19/20                  2
3/20/20                  2
3/21/20                  2
3/22/20                  6
3/23/20                  6
Name: 117, Length: 64, dtype: object

In [218]:
daily_report

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3416,NaN,NaN,NaN,Venezuela,2020-03-26 23:48:18,6.423800,-66.589700,107,0,15,92,Venezuela
3417,NaN,NaN,NaN,Vietnam,2020-03-26 23:48:18,14.058324,108.277199,153,0,20,133,Vietnam
3418,NaN,NaN,NaN,West Bank and Gaza,2020-03-26 23:48:18,31.952200,35.233200,84,1,17,66,West Bank and Gaza
3419,NaN,NaN,NaN,Zambia,2020-03-26 23:48:18,-13.133897,27.849332,16,0,0,16,Zambia
3420,NaN,NaN,NaN,Zimbabwe,2020-03-26 23:48:18,-19.015438,29.154857,3,1,0,2,Zimbabwe

In [219]:
list(daily_report.columns)

['FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Last_Update',
 'Lat',
 'Long_',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Active',
 'Combined_Key']

In [220]:
daily_report[['Admin2', 'Province_State', 'Country_Region', 'Last_Update', 'Confirmed', 'Recovered','Active', 'Deaths' ]]

,Admin2,Province_State,Country_Region,Last_Update,Confirmed,Recovered,Active,Deaths
0,Abbeville,South Carolina,US,2020-03-26 23:48:35,3,0,0,0
1,Acadia,Louisiana,US,2020-03-26 23:48:35,3,0,0,0
2,Accomack,Virginia,US,2020-03-26 23:48:35,2,0,0,0
3,Ada,Idaho,US,2020-03-26 23:48:35,39,0,0,0
4,Adair,Iowa,US,2020-03-26 23:48:35,1,0,0,0
...,...,...,...,...,...,...,...,...
3416,NaN,NaN,Venezuela,2020-03-26 23:48:18,107,15,92,0
3417,NaN,NaN,Vietnam,2020-03-26 23:48:18,153,20,133,0
3418,NaN,NaN,West Bank and Gaza,2020-03-26 23:48:18,84,17,66,1
3419,NaN,NaN,Zambia,2020-03-26 23:48:18,16,0,16,0
3420,NaN,NaN,Zimbabwe,2020-03-26 23:48:18,3,0,2,1

In [222]:
World = daily_report.groupby(['Country_Region'])[['Confirmed', 'Recovered','Active', 'Deaths']].sum().reset_index()

In [223]:
World

         Country_Region  Confirmed  Recovered  Active  Deaths
0           Afghanistan         94          2      88       4
1               Albania        174         17     151       6
2               Algeria        367         29     313      25
3               Andorra        224          1     220       3
4                Angola          4          0       4       0
..                  ...        ...        ...     ...     ...
170           Venezuela        107         15      92       0
171             Vietnam        153         20     133       0
172  West Bank and Gaza         84         17      66       1
173              Zambia         16          0      16       0
174            Zimbabwe          3          0       2       1

[175 rows x 5 columns]

In [224]:
# here we create a boolean to test if the entry is in the US
is_US = daily_report['Country_Region'] == 'US'

# then we create a new dataframe for US Only
USA = daily_report[is_US]

In [235]:
# here we groupby state, sum the totals and reset the index
States = USA.groupby(['Province_State'])[['Confirmed', 'Recovered','Active', 'Deaths']]

In [228]:
States

              Province_State  Confirmed  Recovered  Active  Deaths
0                    Alabama        517          0       0       1
1                     Alaska         56          0       0       1
2             American Samoa          0          0       0       0
3                    Arizona        508          0       0       8
4                   Arkansas        335          0       0       2
5                 California       3899          0       0      81
6                   Colorado       1430          0       0      19
7                Connecticut       1012          0       0      21
8                   Delaware        130          0       0       1
9           Diamond Princess         49          0       0       0
10      District of Columbia        231          0       0       3
11                   Florida       2357          0       0      29
12                   Georgia       1525          0       0      48
13            Grand Princess         28          0       0       1
14                      Guam         45          0       0       1
15                    Hawaii         95          0       0       0
16                     Idaho        146          0       0       3
17                  Illinois       2538          0       0      26
18                   Indiana        645          0       0      17
19                      Iowa        179          0       0       1
20                    Kansas        172          0       0       3
21                  Kentucky        247          0       0       5
22                 Louisiana       2304          0       0      83
23                     Maine        155          0       0       0
24                  Maryland        583          0       0       4
25             Massachusetts       2417          0       0      25
26                  Michigan       2845          0       0      61
27                 Minnesota        344          0       0       2
28               Mississippi        485          0       0       6
29                  Missouri        520          0       0       9
30                   Montana         90          0       0       0
31                  Nebraska         74          0       0       0
32                    Nevada        420          0       0      10
33             New Hampshire        137          0       0       1
34                New Jersey       6876          0       0      81
35                New Mexico        113          0       0       1
36                  New York      37877          0       0     385
37            North Carolina        738          0       0       3
38              North Dakota         51          0       0       0
39  Northern Mariana Islands          0          0       0       0
40                      Ohio        868          0       0      15
41                  Oklahoma        248          0       0       7
42                    Oregon        316          0       0      11
43              Pennsylvania       1795          0       0      18
44               Puerto Rico         64          0       0       2
45                 Recovered          0        681       0       0
46              Rhode Island        165          0       0       0
47            South Carolina        424          0       0       9
48              South Dakota         46          0       0       1
49                 Tennessee       1097          0       0       3
50                     Texas       1563          0       0      21
51                      Utah        396          0       0       1
52                   Vermont        158          0       0       9
53            Virgin Islands         17          0       0       0
54                  Virginia        466          0       0      10
55                Washington       3207          0       0     150
56             West Virginia         52          0       0       0
57                 Wisconsin        728          0       0      10
58                   Wyoming         53          0       0       0

In [239]:
#state plot
#figure(num=None, figsize=(14, 8), dpi=300, facecolor='w', edgecolor='k')
#plt.title('USA')
#plt.scatter(x = States.index, y = 'Province_State', s=5)
#plt.ylabel('')
#plt.xlabel('')
#plt.show()

In [238]:
#States.plot()