In [8]:
# Normally used imports
import pandas as pd
import numpy as np

# Import the stats library from numpy
from scipy import stats

# These are the plotting modules adn libraries we'll use:
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# Command so that plots appear in the iPython Notebook
%matplotlib inline

In [9]:
!ls COVID-19/csse_covid_19_data/

README.md                   csse_covid_19_time_series
csse_covid_19_daily_reports

In [10]:
!ls COVID-19/csse_covid_19_data/csse_covid_19_daily_reports

01-22-2020.csv 02-05-2020.csv 02-19-2020.csv 03-04-2020.csv 03-18-2020.csv
01-23-2020.csv 02-06-2020.csv 02-20-2020.csv 03-05-2020.csv 03-19-2020.csv
01-24-2020.csv 02-07-2020.csv 02-21-2020.csv 03-06-2020.csv 03-20-2020.csv
01-25-2020.csv 02-08-2020.csv 02-22-2020.csv 03-07-2020.csv 03-21-2020.csv
01-26-2020.csv 02-09-2020.csv 02-23-2020.csv 03-08-2020.csv 03-22-2020.csv
01-27-2020.csv 02-10-2020.csv 02-24-2020.csv 03-09-2020.csv 03-23-2020.csv
01-28-2020.csv 02-11-2020.csv 02-25-2020.csv 03-10-2020.csv 03-24-2020.csv
01-29-2020.csv 02-12-2020.csv 02-26-2020.csv 03-11-2020.csv 03-25-2020.csv
01-30-2020.csv 02-13-2020.csv 02-27-2020.csv 03-12-2020.csv 03-26-2020.csv
01-31-2020.csv 02-14-2020.csv 02-28-2020.csv 03-13-2020.csv README.md
02-01-2020.csv 02-15-2020.csv 02-29-2020.csv 03-14-2020.csv
02-02-2020.csv 02-16-2020.csv 03-01-2020.csv 03-15-2020.csv
02-03-2020.csv 02-17-2020.csv 03-02-2020.csv 03-16-2020.csv
02-04-2020.csv 02-18-2020.csv 03-03-2020.csv 03-17-2020.csv

In [59]:
#https://docs.python.org/3/library/os.html
import os

# this folder daily report folder hence it's name will increase by one each day
# TODO 
folder_path = 'COVID-19/csse_covid_19_data/csse_covid_19_daily_reports'
number_of_files = os.listdir(folder_path)

numfiles = len(number_of_files)
print("Number of current Daily Reports: ", numfiles-1)

Number of current Daily Reports:  66

In [61]:
# another  way would be to count csv files
# https://docs.python.org/3/library/glob.html
import glob

file_path = 'COVID-19/csse_covid_19_data/csse_covid_19_daily_reports'
extension = 'csv'
os.chdir(file_path)
result = glob.glob('*.{}'.format(extension))
print(result)

['02-26-2020.csv', '02-27-2020.csv', '02-18-2020.csv', '02-19-2020.csv', '03-24-2020.csv', '03-25-2020.csv', '03-10-2020.csv', '03-11-2020.csv', '02-12-2020.csv', '02-13-2020.csv', '03-07-2020.csv', '03-06-2020.csv', '02-05-2020.csv', '02-04-2020.csv', '02-08-2020.csv', '02-09-2020.csv', '03-01-2020.csv', '02-02-2020.csv', '02-03-2020.csv', '01-31-2020.csv', '01-30-2020.csv', '02-21-2020.csv', '02-20-2020.csv', '03-23-2020.csv', '03-22-2020.csv', '03-17-2020.csv', '03-16-2020.csv', '02-15-2020.csv', '02-14-2020.csv', '01-26-2020.csv', '01-27-2020.csv', '03-04-2020.csv', '03-05-2020.csv', '02-06-2020.csv', '02-07-2020.csv', '03-13-2020.csv', '03-12-2020.csv', '01-22-2020.csv', '01-23-2020.csv', '02-11-2020.csv', '02-10-2020.csv', '02-25-2020.csv', '02-24-2020.csv', '03-19-2020.csv', '03-18-2020.csv', '01-28-2020.csv', '01-29-2020.csv', '03-26-2020.csv', '02-28-2020.csv', '02-29-2020.csv', '03-14-2020.csv', '03-15-2020.csv', '01-25-2020.csv', '01-24-2020.csv', '02-16-2020.csv', '02-17-2020.csv', '02-22-2020.csv', '02-23-2020.csv', '03-20-2020.csv', '03-21-2020.csv', '03-03-2020.csv', '03-02-2020.csv', '02-01-2020.csv', '03-09-2020.csv', '03-08-2020.csv']

In [11]:
daily_report = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/03-26-2020.csv')

In [12]:
#get memory usage
daily_report_memory = daily_report.memory_usage().sum()/1024**2
print("Daily Report has allocated %.2f MBs" %(daily_report_memory))

Daily Report has allocated 0.31 MBs

In [13]:
daily_report

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3416,NaN,NaN,NaN,Venezuela,2020-03-26 23:48:18,6.423800,-66.589700,107,0,15,92,Venezuela
3417,NaN,NaN,NaN,Vietnam,2020-03-26 23:48:18,14.058324,108.277199,153,0,20,133,Vietnam
3418,NaN,NaN,NaN,West Bank and Gaza,2020-03-26 23:48:18,31.952200,35.233200,84,1,17,66,West Bank and Gaza
3419,NaN,NaN,NaN,Zambia,2020-03-26 23:48:18,-13.133897,27.849332,16,0,0,16,Zambia
3420,NaN,NaN,NaN,Zimbabwe,2020-03-26 23:48:18,-19.015438,29.154857,3,1,0,2,Zimbabwe

In [14]:
list(daily_report.columns)

['FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Last_Update',
 'Lat',
 'Long_',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Active',
 'Combined_Key']

In [28]:
daily_report[['Admin2', 'Province_State', 'Country_Region', 'Last_Update', 'Confirmed', 'Recovered','Active', 'Deaths' ]]

,Admin2,Province_State,Country_Region,Last_Update,Confirmed,Recovered,Active,Deaths
0,Abbeville,South Carolina,US,2020-03-26 23:48:35,3,0,0,0
1,Acadia,Louisiana,US,2020-03-26 23:48:35,3,0,0,0
2,Accomack,Virginia,US,2020-03-26 23:48:35,2,0,0,0
3,Ada,Idaho,US,2020-03-26 23:48:35,39,0,0,0
4,Adair,Iowa,US,2020-03-26 23:48:35,1,0,0,0
...,...,...,...,...,...,...,...,...
3416,NaN,NaN,Venezuela,2020-03-26 23:48:18,107,15,92,0
3417,NaN,NaN,Vietnam,2020-03-26 23:48:18,153,20,133,0
3418,NaN,NaN,West Bank and Gaza,2020-03-26 23:48:18,84,17,66,1
3419,NaN,NaN,Zambia,2020-03-26 23:48:18,16,0,16,0
3420,NaN,NaN,Zimbabwe,2020-03-26 23:48:18,3,0,2,1

In [41]:
World = daily_report.groupby(['Country_Region'])[['Confirmed', 'Recovered','Active', 'Deaths']].sum().reset_index()

In [42]:
World

         Country_Region  Confirmed  Recovered  Active  Deaths
0           Afghanistan         94          2      88       4
1               Albania        174         17     151       6
2               Algeria        367         29     313      25
3               Andorra        224          1     220       3
4                Angola          4          0       4       0
..                  ...        ...        ...     ...     ...
170           Venezuela        107         15      92       0
171             Vietnam        153         20     133       0
172  West Bank and Gaza         84         17      66       1
173              Zambia         16          0      16       0
174            Zimbabwe          3          0       2       1

[175 rows x 5 columns]

In [44]:
# here we create a boolean to test if the entry is in the US
is_US = daily_report['Country_Region'] == 'US'

# then we create a new dataframe for US Only
USA = daily_report[is_US]

In [52]:
# here we groupby state, sum the totals and reset the index
#States = USA.groupby(['Province_State'])[['Confirmed', 'Recovered','Active', 'Deaths']].sum().reset_index()

In [54]:
#States

In [38]:
daily_report

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3416,NaN,NaN,NaN,Venezuela,2020-03-26 23:48:18,6.423800,-66.589700,107,0,15,92,Venezuela
3417,NaN,NaN,NaN,Vietnam,2020-03-26 23:48:18,14.058324,108.277199,153,0,20,133,Vietnam
3418,NaN,NaN,NaN,West Bank and Gaza,2020-03-26 23:48:18,31.952200,35.233200,84,1,17,66,West Bank and Gaza
3419,NaN,NaN,NaN,Zambia,2020-03-26 23:48:18,-13.133897,27.849332,16,0,0,16,Zambia
3420,NaN,NaN,NaN,Zimbabwe,2020-03-26 23:48:18,-19.015438,29.154857,3,1,0,2,Zimbabwe