In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [72]:
!ls COVID-19/csse_covid_19_data/csse_covid_19_time_series

README.md
time_series_19-covid-Confirmed.csv
time_series_19-covid-Deaths.csv
time_series_19-covid-Recovered.csv
time_series_covid19_confirmed_global.csv
time_series_covid19_deaths_global.csv

In [73]:
confirmed = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')
deaths = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')
recovered = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')
confirmed_global = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
global_deaths = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [74]:
#get memory usage
confirmed_global_memory = confirmed_global.memory_usage().sum()/1024**2
confirmed_memory = confirmed.memory_usage().sum()/1024**2
deaths_memory = deaths.memory_usage().sum()/1024**2
recovered_memory = recovered.memory_usage().sum()/1024**2
global_deaths_memory = global_deaths.memory_usage().sum()/1024**2

notebook_initial_mem = (confirmed_global_memory + confirmed_memory + deaths_memory + recovered_memory + global_deaths_memory)

print("Confirmed Global has allocated %.2f MBs" %(confirmed_global_memory))
print("Confirmed cases has allocated %.2f MBs" %(confirmed_memory))
print("Death has allocated %.2f MBs" %(deaths_memory))
print("Recovered has allocated %.2f MBs" %(recovered_memory))
print("Global Deaths has allocated %.2f MBs" %(global_deaths_memory))
print("Current Notebook Total Memory Used: %.2f MBs" %(notebook_initial_mem))

Confirmed Global has allocated 0.12 MBs
Confirmed cases has allocated 0.25 MBs
Death has allocated 0.25 MBs
Recovered has allocated 0.25 MBs
Global Deaths has allocated 0.12 MBs
Current Notebook Total Memory Used: 1.00 MBs

In [75]:
#let's take a look at our data
confirmed_global.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,11,16,21,22,22,22,24,24,40,40
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,38,42,51,55,59,64,70,76,89,104
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,37,48,54,60,74,87,90,139,201,230
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,2,39,39,53,75,88,113,133
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,2,3

In [76]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0

In [77]:
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1.0
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,22,22,27,29,29,29,33,35,40,40.0
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,2,2,2,3,4,10,10.0

In [78]:
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,35,35,35,41,42,42,42,42,44,44.0
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,118,118,144,144,144,150,191,232,235,235.0
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,105,105,109,114,114,114,124,140,144,144.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,35,42,42,49,60,75,87,114,139,139.0

In [79]:
global_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2,2,4
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,3,4,4,4,7,9,11,15,17,17
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
#get index range to check start, stop, step

print(confirmed.index)
print(deaths.index)
print(recovered.index)
print(confirmed_global.index)
print(global_deaths.index)

RangeIndex(start=0, stop=501, step=1)
RangeIndex(start=0, stop=501, step=1)
RangeIndex(start=0, stop=501, step=1)
RangeIndex(start=0, stop=238, step=1)
RangeIndex(start=0, stop=238, step=1)

In [83]:
#list your columns to identify column names
#list(confirmed.columns)

In [82]:
deaths.iloc[98:155]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
98,Washington,US,47.4009,-121.4905,0,0,0,0,0,0,...,37,40,48,55,55,74,83,94,95,95.0
99,New York,US,42.1657,-74.9481,0,0,0,0,0,0,...,2,3,10,13,16,34,42,60,117,117.0
100,California,US,36.1162,-119.6816,0,0,0,0,0,0,...,5,6,7,12,13,18,23,24,30,30.0
101,Massachusetts,US,42.2302,-71.5301,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,5,5.0
102,Diamond Princess,US,35.4437,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
103,Grand Princess,US,37.6489,-122.6655,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
104,Georgia,US,33.0406,-83.6431,0,0,0,0,0,0,...,1,1,1,1,3,10,13,14,23,23.0
105,Colorado,US,39.0598,-105.3111,0,0,0,0,0,0,...,1,1,1,2,2,4,4,4,6,6.0
106,Florida,US,27.7663,-81.6868,0,0,0,0,0,0,...,3,4,5,6,7,9,10,13,13,13.0
107,New Jersey,US,40.2989,-74.5210,0,0,0,0,0,0,...,1,2,2,3,3,9,11,16,20,20.0
108,Oregon,US,44.5720,-122.0709,0,0,0,0,0,0,...,0,1,1,1,2,3,3,5,4,4.0
109,Texas,US,31.0545,-97.5635,0,0,0,0,0,0,...,0,0,0,1,3,5,5,5,6,6.0
110,Illinois,US,40.3495,-88.9861,0,0,0,0,0,0,...,0,0,0,1,1,4,5,6,9,9.0
111,Pennsylvania,US,40.5908,-77.2098,0,0,0,0,0,0,...,0,0,0,0,0,1,1,2,3,3.0
112,Iowa,US,42.0115,-93.2105,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
113,Maryland,US,39.0639,-76.8021,0,0,0,0,0,0,...,0,0,0,0,0,1,1,2,3,3.0
114,North Carolina,US,35.6301,-79.8064,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
115,South Carolina,US,33.8569,-80.9450,0,0,0,0,0,0,...,0,0,1,1,1,1,1,3,3,3.0
116,Tennessee,US,35.7478,-86.6923,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,2.0
117,Virginia,US,37.7693,-78.1700,0,0,0,0,0,0,...,1,1,1,2,2,2,2,2,6,6.0
118,Arizona,US,33.7298,-111.4312,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,2.0
119,Indiana,US,39.8494,-86.2583,0,0,0,0,0,0,...,0,0,1,2,2,2,2,4,6,6.0
120,Kentucky,US,37.6681,-84.6701,0,0,0,0,0,0,...,0,0,1,1,1,2,2,3,3,3.0
121,District of Columbia,US,38.8974,-77.0268,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2,2.0
122,Nevada,US,38.3135,-117.0554,0,0,0,0,0,0,...,0,0,1,1,1,1,1,2,2,2.0
123,New Hampshire,US,43.4525,-71.5639,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
124,Minnesota,US,45.6945,-93.9002,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1.0
125,Nebraska,US,41.1254,-98.2681,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
126,Ohio,US,40.3888,-82.7649,0,0,0,0,0,0,...,0,0,0,0,0,0,2,3,3,3.0
127,Rhode Island,US,41.6809,-71.5118,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
128,Wisconsin,US,44.2685,-89.6165,0,0,0,0,0,0,...,0,0,0,0,0,0,3,4,4,4.0
129,Connecticut,US,41.5978,-72.7554,0,0,0,0,0,0,...,0,0,0,0,0,2,3,4,5,5.0
130,Hawaii,US,21.0943,-157.4983,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
131,Oklahoma,US,35.5653,-96.9289,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,2,2.0
132,Utah,US,40.1500,-111.8624,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
133,NaN,Burkina Faso,12.2383,-1.5616,0,0,0,0,0,0,...,0,0,0,0,1,1,1,2,4,4.0
134,NaN,Holy See,41.9029,12.4534,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
135,NaN,Mongolia,46.8625,103.8467,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
136,NaN,Panama,8.5380,-80.7821,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,3,3.0
137,Kansas,US,38.5266,-96.7265,0,0,0,0,0,0,...,1,1,1,1,1,1,1,2,2,2.0
138,Louisiana,US,31.1695,-91.8678,0,0,0,0,0,0,...,1,2,3,4,4,10,14,16,20,20.0
139,Missouri,US,38.4561,-92.2884,0,0,0,0,0,0,...,0,0,0,0,0,1,2,3,3,3.0
140,Vermont,US,44.0459,-72.7107,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2.0
141,Alaska,US,61.3707,-152.4044,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
142,Arkansas,US,34.9697,-92.3731,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
143,Delaware,US,39.3185,-75.5071,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
144,Idaho,US,44.2405,-114.4788,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
145,Maine,US,44.6939,-69.3819,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
146,Michigan,US,43.3266,-84.5361,0,0,0,0,0,0,...,0,0,0,0,0,3,3,5,9,9.0
147,Mississippi,US,32.7416,-89.6787,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1.0
148,Montana,US,46.9219,-110.4544,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
149,New Mexico,US,34.8405,-106.2485,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
150,North Dakota,US,47.5289,-99.7840,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
151,South Dakota,US,44.2998,-99.4388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1.0
152,West Virginia,US,38.4912,-80.9545,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
153,Wyoming,US,42.7560,-107.3025,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
154,Hubei,China,30.9756,112.2707,17,17,24,40,52,76,...,3075,3085,3099,3111,3122,3130,3133,3139,3144,3153.0