In [12]:
# Normally used imports
import pandas as pd
import numpy as np

# Import the stats library from numpy
from scipy import stats

# These are the plotting modules adn libraries we'll use:
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# Command so that plots appear in the iPython Notebook
%matplotlib inline

In [18]:
!ls

01-22-2020.csv 02-07-2020.csv 02-23-2020.csv 03-10-2020.csv 03-26-2020.csv
01-23-2020.csv 02-08-2020.csv 02-24-2020.csv 03-11-2020.csv 03-27-2020.csv
01-24-2020.csv 02-09-2020.csv 02-25-2020.csv 03-12-2020.csv 03-28-2020.csv
01-25-2020.csv 02-10-2020.csv 02-26-2020.csv 03-13-2020.csv 03-29-2020.csv
01-26-2020.csv 02-11-2020.csv 02-27-2020.csv 03-14-2020.csv 03-30-2020.csv
01-27-2020.csv 02-12-2020.csv 02-28-2020.csv 03-15-2020.csv 03-31-2020.csv
01-28-2020.csv 02-13-2020.csv 02-29-2020.csv 03-16-2020.csv 04-01-2020.csv
01-29-2020.csv 02-14-2020.csv 03-01-2020.csv 03-17-2020.csv 04-02-2020.csv
01-30-2020.csv 02-15-2020.csv 03-02-2020.csv 03-18-2020.csv 04-03-2020.csv
01-31-2020.csv 02-16-2020.csv 03-03-2020.csv 03-19-2020.csv 04-04-2020.csv
02-01-2020.csv 02-17-2020.csv 03-04-2020.csv 03-20-2020.csv 04-05-2020.csv
02-02-2020.csv 02-18-2020.csv 03-05-2020.csv 03-21-2020.csv README.md
02-03-2020.csv 02-19-2020.csv 03-06-2020.csv 03-22-2020.csv
02-04-2020.csv 02-20-2020.csv 03-07-2020.csv 03-23-2020.csv
02-05-2020.csv 02-21-2020.csv 03-08-2020.csv 03-24-2020.csv
02-06-2020.csv 02-22-2020.csv 03-09-2020.csv 03-25-2020.csv

In [19]:
#https://docs.python.org/3/library/os.html
import os

# this folder daily report folder hence it's name will increase by one each day
# TODO 
folder_path = './'
number_of_files = os.listdir(folder_path)

numfiles = len(number_of_files)
print("Number of current Daily Reports: ", numfiles-1)

Number of current Daily Reports:  76

In [25]:
# another  way would be to count csv files
# https://docs.python.org/3/library/glob.html
#import glob

#file_path = 'COVID-19/csse_covid_19_data/csse_covid_19_daily_reports'
#extension = 'csv'
#os.chdir(file_path)
#result = glob.glob('*.{}'.format(extension))
#print(result)

In [21]:
#daily_report = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/04-05-2020.csv')
daily_report = pd.read_csv('04-05-2020.csv')

In [22]:
#get memory usage
daily_report_memory = daily_report.memory_usage().sum()/1024**2
print("Daily Report has allocated %.2f MBs" %(daily_report_memory))

Daily Report has allocated 0.25 MBs

In [23]:
daily_report

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-05 23:06:45,34.223334,-82.461707,6,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-05 23:06:45,30.295065,-92.414197,75,2,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-05 23:06:45,37.767072,-75.632346,11,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-05 23:06:45,43.452658,-116.241552,385,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-05 23:06:45,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2759,NaN,NaN,NaN,West Bank and Gaza,2020-04-05 23:06:26,31.952200,35.233200,237,1,25,211,West Bank and Gaza
2760,NaN,NaN,NaN,Western Sahara,2020-04-05 23:06:26,24.215500,-12.885800,4,0,0,4,",,Western Sahara"
2761,NaN,NaN,NaN,Zambia,2020-04-05 23:06:26,-13.133897,27.849332,39,1,3,35,Zambia
2762,NaN,NaN,NaN,Zimbabwe,2020-04-05 23:06:26,-19.015438,29.154857,9,1,0,8,Zimbabwe
2763,NaN,unassigned,Wyoming,US,2020-04-05 23:06:45,NaN,NaN,0,0,0,0,"unassigned, Wyoming, US"

In [26]:
list(daily_report.columns)

['FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Last_Update',
 'Lat',
 'Long_',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Active',
 'Combined_Key']

In [27]:
daily_report[['Admin2', 'Province_State', 'Country_Region', 'Last_Update', 'Confirmed', 'Recovered','Active', 'Deaths' ]]

,Admin2,Province_State,Country_Region,Last_Update,Confirmed,Recovered,Active,Deaths
0,Abbeville,South Carolina,US,2020-04-05 23:06:45,6,0,0,0
1,Acadia,Louisiana,US,2020-04-05 23:06:45,75,0,0,2
2,Accomack,Virginia,US,2020-04-05 23:06:45,11,0,0,0
3,Ada,Idaho,US,2020-04-05 23:06:45,385,0,0,3
4,Adair,Iowa,US,2020-04-05 23:06:45,1,0,0,0
...,...,...,...,...,...,...,...,...
2759,NaN,NaN,West Bank and Gaza,2020-04-05 23:06:26,237,25,211,1
2760,NaN,NaN,Western Sahara,2020-04-05 23:06:26,4,0,4,0
2761,NaN,NaN,Zambia,2020-04-05 23:06:26,39,3,35,1
2762,NaN,NaN,Zimbabwe,2020-04-05 23:06:26,9,0,8,1
2763,unassigned,Wyoming,US,2020-04-05 23:06:45,0,0,0,0

In [28]:
World = daily_report.groupby(['Country_Region'])[['Confirmed', 'Recovered','Active', 'Deaths']].sum().reset_index()

In [29]:
World

         Country_Region  Confirmed  Recovered  Active  Deaths
0           Afghanistan        349         15     327       7
1               Albania        361        104     237      20
2               Algeria       1320         90    1078     152
3               Andorra        501         26     457      18
4                Angola         14          2      10       2
..                  ...        ...        ...     ...     ...
178             Vietnam        241         90     151       0
179  West Bank and Gaza        237         25     211       1
180      Western Sahara          4          0       4       0
181              Zambia         39          3      35       1
182            Zimbabwe          9          0       8       1

[183 rows x 5 columns]

In [30]:
# here we create a boolean to test if the entry is in the US
is_US = daily_report['Country_Region'] == 'US'

# then we create a new dataframe for US Only
USA = daily_report[is_US]

In [52]:
# here we groupby state, sum the totals and reset the index
#States = USA.groupby(['Province_State'])[['Confirmed', 'Recovered','Active', 'Deaths']].sum().reset_index()

In [54]:
#States

In [31]:
USA

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-05 23:06:45,34.223334,-82.461707,6,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-05 23:06:45,30.295065,-92.414197,75,2,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-05 23:06:45,37.767072,-75.632346,11,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-05 23:06:45,43.452658,-116.241552,385,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-05 23:06:45,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2549,NaN,NaN,Northern Mariana Islands,US,2020-04-05 23:06:45,15.097900,145.673900,6,1,0,0,",Northern Mariana Islands,US"
2555,72.0,NaN,Puerto Rico,US,2020-04-05 23:06:45,18.220800,-66.590100,475,20,0,0,"Puerto Rico, US"
2560,NaN,NaN,Recovered,US,2020-04-05 23:06:45,NaN,NaN,0,0,17448,0,"Recovered, US"
2578,78.0,NaN,Virgin Islands,US,2020-04-05 23:06:45,18.335800,-64.896300,42,1,0,0,",Virgin Islands,US"
2763,NaN,unassigned,Wyoming,US,2020-04-05 23:06:45,NaN,NaN,0,0,0,0,"unassigned, Wyoming, US"